.page-header{
    background: -webkit-linear-gradient(rgba(255, 154, 158, 0.8), rgba(232, 77, 216, 0.5)), url('../images/bg4.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: #F2D5CE;
    border-top-style: solid;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #F2D5CE;
    height: 100%;
    text-align: left;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: #0D0D0D;
  }
  .imgContainer img{
    opacity: 0.8;
    border-radius: 25px;
    transition: 0.5s;
  }
  .imgContainer{
    background-image: -webkit-linear-gradient(rgba(255, 154, 158, 0.8), rgba(232, 77, 216, 0.5));
    border-radius: 25px;
    transform: scale(0.7);
    transition: 0.5s;
  }
  .imgContainer:hover{
    transform: scale(0.9);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  }
  .imgContainer:hover img{
    opacity: 1;
  }

  .introP {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 45px;
  }
  .introP, .introP, a{
    letter-spacing: 2px;
    color: #262626;
  }
  .introP h1{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 3.5em;
  }
  .introP p{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }

  @media screen and (max-width:768px){
      .introP p{
          display: inline;
      }
  }