.skills{
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(142, 141, 138, 0.4), rgba(234, 231, 220, 0.2)), url('../images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F2D5CE;
    font-family: 'Roboto Slab', serif;
}

.skill-title{
    font-size: 1.5em;
    letter-spacing: 3px;
    
}
.skill-content{
    padding-top: 15px;
    line-height: 2.0;
    letter-spacing: 2px;
    font-weight: bold;
}
.skill-line{
    opacity: 0;
}

@media screen and (max-width:900px){
    .skill-title{
        text-align: center;
        font-size: 1.0em;
        font-weight: 500;
    }
    .skill-list{
        font-size: 0.8em;
        font-weight: 700;
    }
    .skill-line{
        width: 80%;
        opacity: 1;
        border-width: 2px;
        border-radius: 30px;
        border-color: #F2D5CE;
    }
}